[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
bcrypt = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-restful = "*"
faker = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
